<!DOCTYPE html>
<html>
<head>
  {% load static %}
	<title>{% block title %} {% endblock %}</title>
	{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  <link rel="javascript" href="{% static 'javascript/responsive.js' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <link rel="stylesheet" type="text/css"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    {% endblock %}

  </head>
  <body>
    <nav class="nav" id="myTopnav">
      <label class="logo" align="right" style="margin-right: 40px;"><a class="hlink" href="{% url 'index' %}"><img src="{% static 'images/mainlogo.png' %}"style="margin-top: 10px; height: 30px; width: 30px;">SMS</a></label>
      {% if user.is_authenticated %}
      <li>{{user.first_name}}</li>
      {% endif %}
      <ul>
        <li><a class="nav n1" href="{% url 'index' %}">Home</a></li>
        <li><a class="nav n2" href="{% url 'about' %}">Enquiry</a></li>
        <!-- <li><a href="{% url 'service' %}">Services</a></li> -->
        <li><a class="nav n3" href="{% url 'contact' %}">Contact Us</a></li>
        <li><a  class="nav n4" href=" {% url 'feedback' %}">Feedback</a></li>
        {% if user.is_authenticated %}
        <li><a class="nav n5"  href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a class="nav n6" href="{% url 'logout' %}">Logout</a></li>
        <!-- <li>HELLO, {{user.first_name}}</li> -->
        {% else %}
        <!-- <li><a href="{% url 'register' %}">Register</a></li> -->
        <li><a class="nav" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        
      </ul>
      <a href="javascript:void(0);" id="icon" onclick="myFunction()"><i class="fas fa-bars"></i></a>
      {% comment %} <a href="javascript:void(0);" onclick="respScreen()" id="icon"><i class="fas fa-bars"></i></a> {% endcomment %}
      {% comment %} <a href="javascript:void(0);" class="icon" onclick="respScreen()">&#9776;</a> {% endcomment %}
    </nav>
    <div class="container">
  <div style="background-image: url('{% static "images/bgf-1.png" %}'); 
  background-size: cover; height:134vh; width:100%">
  {% comment %} <div style="margin:0px; height: 90vh; width: 98%;"> {% endcomment %}
    {% comment %} <img src='{% static "images/bgf.png" %}'style="margin:0px; height: 90vh; width: 100%;"> {% endcomment %}
    {% comment %} <img src='{% static "images/bgf-1.png" %}'style=" height: 100vh; width: 100%;"> {% endcomment %}
   
	<!-- <h3 class="header" align="right" style="margin-right: 20px;"><a href="admin">Admin Login</a></h3> -->

  <marquee behavior="scroll" direction="left"><h1 class="title">Welcome to Student Management System </h1></marquee>
  {% comment %} <div> <img src='{% static "images/bg-9.png" %}'style="margin:0px; height: 500; width: 550px;"></div> {% endcomment %}
{% block body %}
 {% endblock %}
  </div>
{% if user.is_authenticated %}
<br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
  <svg viewBox="0 0 120 28">
   <defs> 
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="
             1 0 0 0 0  
             0 1 0 0 0  
             0 0 1 0 0  
             0 0 0 13 -9" result="goo" />
        <xfeBlend in="SourceGraphic" in2="goo" />
      </filter>
       <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
    </defs> 
  
     <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use> 
     <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use>
   
   
    <g class="gooeff" filter="url(#goo)">
    
    <circle class="drop drop1" cx="1.2" cy="5.4" r="8.8"  />
    <circle class="drop drop2" cx="5.2" cy="5.1" r="7.5"  />
    <circle class="drop drop3" cx="10.2" cy="5.3" r="9.2"  />
      <circle class="drop drop4" cx="3.2" cy="5.4" r="8.8"  />
    <circle class="drop drop5" cx="14.2" cy="5.1" r="7.5"  />
    <circle class="drop drop6" cx="17.2" cy="4.8" r="9.2"  />
    <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
   </g>  
      <!-- g mask="url(#xxx)">
      <path   id="wave1"  class="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
    </g>
  </g -->
</div>
  
  </svg>
  <div class="footer-bottom">
    <div class="footer-menu">
<ul class="f-menu">
<li><a class="hlink" href="{% url 'index' %}">Home</a></li>
<li><a class="hlink" href="{% url 'about' %}">Enquiry</a></li>
<li><a class="hlink" href="{% url 'contact' %}">Contact Us</a></li>
<li><a class="hlink" href=" {% url 'feedback' %}">Feedback</a></li>
<li><a class="hlink" href="{% url 'logout' %}">Logout</a></li>
</ul>
</div>
<div class="socialdiv">
<ul class="socials">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
    <div class="copyright">
      <p>copyright &copy; <a href="https://sha-shank-883.github.io/shashanksinghal"  target="_blank">Shashank Singhal & Pratik Soam</a>  </p>
    </div>
  </div>
</div>
    {% comment %} <div>done with fun - by &copy;<a href="www.chaba.de">Uwe Chardon</a></div> {% endcomment %}
  </footer>

          {% else %}
        <footer>
          <svg viewBox="0 0 120 28">
           <defs> 
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="
                     1 0 0 0 0  
                     0 1 0 0 0  
                     0 0 1 0 0  
                     0 0 0 13 -9" result="goo" />
                <xfeBlend in="SourceGraphic" in2="goo" />
              </filter>
               <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
            </defs> 
          
             <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use> 
             <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use>
           
           
            <g class="gooeff" filter="url(#goo)">
            
            <circle class="drop drop1" cx="1.2" cy="5.4" r="8.8"  />
            <circle class="drop drop2" cx="5.2" cy="5.1" r="7.5"  />
            <circle class="drop drop3" cx="10.2" cy="5.3" r="9.2"  />
              <circle class="drop drop4" cx="3.2" cy="5.4" r="8.8"  />
            <circle class="drop drop5" cx="14.2" cy="5.1" r="7.5"  />
            <circle class="drop drop6" cx="17.2" cy="4.8" r="9.2"  />
            <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
           </g>  
              <!-- g mask="url(#xxx)">
              <path   id="wave1"  class="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
              </g>
            </g -->
          
          </svg>
          <div class="footer-bottom">
            <div class="footer-menu">
      <ul class="f-menu">
        <li><a class="hlink" href="{% url 'index' %}">Home</a></li>
        <li><a class="hlink"  href="{% url 'about' %}">Enquiry</a></li>
        <li><a class="hlink" href="{% url 'contact' %}">Contact Us</a></li>
        <li><a class="hlink" href=" {% url 'feedback' %}">Feedback</a></li>
        <li><a class="hlink" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
    <div class="socialdiv">
      <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a  href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
            <div class="copyright">
              <p>copyright &copy; <a href="https://sha-shank-883.github.io/shashanksinghal"  target="_blank">Shashank Singhal & Pratik Soam</a>  </p>
            </div>
          </div>
        </div>
            {% comment %} <div>done with fun - by &copy;<a href="www.chaba.de">Uwe Chardon</a></div> {% endcomment %}
          </footer>
        {% endif %}
      {% comment %} {% block active_link %}.n1{%endblock%} {% endcomment %}
      <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "nav") {
            x.className += " responsive";
          } else {
            x.className = "nav";
          }
        }
        </script> 
        <script>
          $('nav').find('{% block active_link%}{%endblock%}').addClass('active')
          </script>
      </body>
</html>